
@{
    ViewBag.Title = "returnUrl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:'Times New Roman'">Bạn Đã Thanh Toán Thành Công, Đơn Hàng Sẽ Được Giao Đến Bạn trong thời gian sớm nhất</h2>
<p>@Html.ActionLink("Tiếp Tục Mua Hàng", "Index", "Home")</p>

