
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <title> Digitals Store </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/styleSearch.css" rel="stylesheet" />


</head>
<body class="abc">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="https://localhost:44359/Home/Index">
                    <span>
                        Digitals Store
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://localhost:44359/Home/Index">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://localhost:44359/Home/Menu">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://localhost:44359/Home/About">Tổng quan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://localhost:44359/Home/Book">Liên hệ</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        <form class="form-inline">
                            @*<button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">*@
                            <div class="container h-100">
                                <div class="d-flex justify-content-center h-100">
                                    <div class="searchbar">
                                        <input class="search_input" type="text" name="" placeholder="Search...">
                                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            @*</button>*@
                        </form>
                        <a href="" class="user_link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <a href="" class="user_link">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                        @*<a class="cart_link" href="https://localhost:44359/Home/Cart">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                    </g>
                  </g>
                            <g>
                            <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z" />
                  </g>
                            <g>
                            <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                    </g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                </svg>
                        </a>*@

                        <a href="https://localhost:44359/Home/Login" class="order_online">
                            Đăng nhập
                        </a>
                    </div>
                </div>





            </nav>

        </div>
    </header>
    <!-- end header section -->
    <div class="container" >
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="color:white;">Sản phẩm</th>
                            <th style="color:white;">Số lượng</th>
                            <th style="color:white;" class="text-center">Giá tiền</th>
                            <th style="color:white;" class="text-center">Tổng tiền</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 style="color:white;" class="media-heading"><a href="#">Tên sản phẩm</a></h4>
                                        <h5 style="color:white;" class="media-heading"> bởi:<a href="#">Thương hiệu</a></h5>
                                        <span style="color:white;">Tình trạng: </span><span style="color:white;" class="text-success"><strong>Còn hàng</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                            </td>
                            <td style="color:white;" class="col-sm-1 col-md-1 text-center"><strong>$120.000.000VNĐ</strong></td>
                            <td style="color:white;" class="col-sm-1 col-md-1 text-center"><strong>$14.990.000VNĐ</strong></td>
                            <td  class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span style="color:white;" class="glyphicon glyphicon-remove"></span> Xoá bỏ
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 style="color:white;" class="media-heading"><a href="#">Tên sản phẩm</a></h4>
                                        <h5 style="color:white;" class="media-heading"> by <a href="#">Brand name</a></h5>
                                        <span style="color:white;">Tình trạng: </span><span class="text-warning"><strong>Sắp về hàng</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-1" style="text-align: center">
                                <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                            </td>
                            <td style="color:white;" class="col-md-1 text-center"><strong>$4.990.000VNĐ</strong></td>
                            <td style="color:white;" class="col-md-1 text-center"><strong>$9.990.000VNĐ</strong></td>
                            <td class="col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span style="color:white;" class="glyphicon glyphicon-remove"></span> Xoá bỏ
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5 style="color:white;">Thành tiền</h5></td>
                            <td style="color:white;" class="text-right"><h5><strong>150.000.000VNĐ</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5 style="color:white;">Phí ship</h5></td>
                            <td style="color:white;" class="text-right"><h5><strong>$990.000VNĐ</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3 style="color:white;">Tổng tiền</h3></td>
                            <td class="text-right"><h3 style="color:white;"><strong>$299.990.000VNĐ</strong></h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <button style="color:white;" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Tiếp tục mua hàng
                                </button>
                            </td>
                            <td>
                                <button  type="button" class="btn btn-success">
                                    Thanh toán <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

